*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
}

.typewritter-div{
    width: 450px;
}

.typewriter .name-p{
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #ff004f; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 5px; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    line-height:40px ;
    animation:
      typing 3.5s steps(30, end),
      blink-caret .6s step-end infinite;
  }


  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ff004f }
  }


body{
    background: #080808;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 80px;
    height: auto;
}

.logo-listo::before{
    position: absolute;
    content: "";
    width: 50%;
    background: #ababab;
    height: 3px;
}

.logo-listo{
    margin-top: 25px;
    position: relative;
}

.container{
    padding: 10px 10%;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.header-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-size: 20px;

}

.header-nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.header-nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    display: flex;
    margin-top: 20%;
    margin-right: 100px;
    font-size: 30px;
}

.text-section{
    flex-basis: 70%;
    line-height: 70px;

}

.picture-section{
    flex-basis: 30%;
}

.about-image{
    width: 150%;
    border-radius: 30px;
    opacity: 0.8;
}

.about-image:hover{
    opacity: 1;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-name{
    color: #ff004f;
}

.totop{
    color: #ff004f;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    z-index: 99
}

.tooltiptext{
    font-size: 18px;
    color: #fff;
    position: fixed;
    bottom: 60px;
    right: 30px;
    visibility: hidden;
}

.totop:hover .tooltiptext{
    visibility: visible;
    transition: 0.3s;
}

/** About me **/


#about{
    margin-top: 200px;
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    opacity: 0.5;
}

.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
}

.about-line-height{
    line-height: 30px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.active-tab-link::after{
    width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span{
    color:#b34567;
    font-size: 15px;
}

.tab-content{
    display: none;
    font-size: 16px;
}

.active-tab-content{
    display: block;
}


.programming-languages li{
    display: inline;
    font-size: 17px;
}

/******** Services *******/
/*
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
*/

/***** Projects ******/

#portfolio{
    padding: 50px 0;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.tools-used{
    margin-top: 10px;
    margin-left: 150px;
    text-align: left;
    font-size: 13px;
}

.tools-used li{
/*     display: inline;
 */    font-weight: 900;
       text-align: left;
}

.see-more-btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid hsl(341, 100%, 50%);
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.see-more-btn:hover{
    background: #ff004f;
}


/****** Contact ****/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translate(-5px);
}

.email{
    color: #fff;
}

.CV{
    margin-left: 0;
    padding: 15px 30px;
}

.submit{
    display: inline-block;
    background: #ff004f;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}

.contact-right form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .see-more-btn{
    margin-top: 20px;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #0f0e0e;
    font-weight: 300;
    margin-top: 30px;
    font-size: 1.1em;
}

nav .fas{
    display: none;
}
/******* media queries ******/

@media only screen and (max-width: 600px){

    .typewritter-div{
        width: 255px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    .header-nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    .header-nav ul li{
        display: block;
        margin: 20px;
    }

    .header-nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-text{
        display: block;
        font-size: 20px;
        margin-top: 50px;
        width: 200px;
    }

    .text-section{
        line-height: 50px;
    }

    .picture-section{
        margin-top: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }

    .header-nav, .header-text{
        flex-basis: 100%;
    }

    #about{
        padding: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .about-col-1{
        flex-basis: 30%;
    }

    .about-col-2{
        flex-basis: 650%;
    }

    .sub-title{
        font-size: 30px;
        font-weight: 600;
        color: #fff;
    }

    .tab-titles p{
        font-size: 22px;
        font-weight: 600;
        margin-right: 20px;
    }
.contact-left{
    display: block;
}
.contact-right{
    display: block;
    width: 100%;
}


.about-col-1 img{
    display: none;
}

.row{
    display: block;
}
}
